@model quanlydongho.Models.Admin

@{
    ViewBag.Title = "Chi Tiết Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Chi Tiết Admin</h2>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông Tin Admin</h4>
            <hr />

            <dl class="row">
                <!-- Email -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <!-- MatKhau -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MatKhau)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MatKhau)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <!-- Chỉnh sửa và quay lại danh sách -->
        <div>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.TaiKhoan }, new { @class = "btn btn-warning me-2" })
            @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
