@model quanlydongho.Models.SanPham
@{
    ViewBag.Title = "Chỉnh Sửa Sản Phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chỉnh Sửa Sản Phẩm</h2>

@using (Html.BeginForm("EditSanPham", "Admins", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Ma)

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.TenDongHo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.TenDongHo, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.DoiTuong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DoiTuong, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <!-- Hiển thị ảnh hiện tại nếu có -->
            @if (Model.HinhAnh != null && Model.HinhAnh != "")
            {
                <div>
                    @*<img src="@Url.Content(Model.HinhAnh)" alt="Ảnh hiện tại" style="max-width: 200px; max-height: 200px;" />
                    <p><strong>Ảnh hiện tại</strong></p>*@

                    <!-- TextBox hiển thị đường dẫn ảnh hiện tại (có thể đặt là readonly) -->
                    <input type="text" value="@Model.HinhAnh" class="form-control" readonly />

                    <!-- HiddenFor để lưu lại đường dẫn ảnh cũ khi gửi form -->
                    @Html.HiddenFor(model => model.HinhAnh)
                </div>

            }
            <br />
            <!-- Input chọn ảnh mới -->
            <input type="file" name="HinhAnhFile" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBanLe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.GiaBanLe, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaDanhMuc, "Danh Mục", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaDanhMuc", null, "Chọn Danh Mục", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
            @Html.ActionLink("Hủy", "SanPhams", "Admins", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}
